# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Projects/B-L475E-IOT01A/Applications/Cloud/Azure/EWARM/B-L475E-IOT01
/Projects/STM32F413H-Discovery/Applications/Cloud/Azure/EWARM/STM32F413H-Discovery
/Projects/STM32F413H-Discovery/Applications/Cloud/Azure/EWARM/settings
/Projects/B-L475E-IOT01A/Applications/Cloud/Azure/EWARM/settings
/Projects/B-L475E-IOT01A/Applications/Cloud/Azure/EWARM/Project.dep
/Projects/B-L475E-IOT01A/Applications/Cloud/Azure/EWARM/Project.ewt
